@charset "utf-8";

/*
.content {
  margin-right: 0px;
  margin-left: 0px;
  width: 1500px;
  clear: both;
  overflow: auto; 
  background: #1abc9c; 
  background: rgba(26,188,156, 0.4);
  min-height: 600px;
}
*/

/*
.sidebar {
  position: relative; 
  margin-top: 0px;
  margin-left: 0px;
  height: 500px ;
  width: 200px ;
  float: right;
  overflow: hidden;
  background: #2c3e50;
  background: rgba(44,62,80, 0.4);
  color: green;
}

.sidebar {
height: 100%;
width: 30%;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: green;
}
.sidebar {
width: 100%;  
}

.sidebar div {
padding: 0px;
width: 300px;
font-size: 15px;
display: block;
}
*/

/*
.content {
  margin-left: 150px;
}

.sidebar {
  min-width: 350px ;
}
*/

hr.new1 {
  border-top: 3px solid black;
  opacity: 1;
}

hr {
  border-top: 1px solid red;
}

h1 {
/*	   padding-top: 50px;
	   font-size: 50px;
		 font-family: cursive;
		 background-color: teal; */
		 color: black; /*#15056C;*/
		 font-weight: bold;
/*		 color: teal;
		 opacity: 0.9; */
	  }
	  
h2 {
/*	   padding-top: 50px;
	   font-size: 50px;
		 font-family: cursive;
		 background-color: teal; */
		 color: #404A80; /*#B60FF4;*/
/*		 opacity: 0.9; */
	  }

h4 {
  color: #18398C;
}